SECRET=<The secret key to validate incoming GitHub webhook requests>

HOST=<The host address where the webhook server will run>
PORT=<The port for the webhook server.>

TELEGRAM_BOT_TOKEN=<Token for the Telegram bot (optional)>
TELEGRAM_CHAT_ID=<Telegram chat ID to send notifications to (optional)>
TELEGRAM_THREAD_ID=<Telegram chat thread ID (optional)>

GIT_BRANCH=<The branch to deploy>

PM2_NAME=<The PM2 process name to restart after deployment>
